YOUTUBE_API_KEY=mets_ta_cle_youtube_ici

FB_APP_ID=mets_ton_app_id_facebook_ici
FB_APP_SECRET=mets_ton_app_secret_facebook_ici
FB_REDIRECT_URI=http://localhost:5000/auth/facebook/callback

TT_CLIENT_KEY=mets_ton_client_key_tiktok_ici
TT_CLIENT_SECRET=mets_ton_client_secret_tiktok_ici
TT_REDIRECT_URI=http://localhost:5000/auth/tiktok/callback

SECRET_KEY=change-moi-en-production
